#body {
	background-image: url(classic-cards/casinos-24.jpg);
	background-repeat: no-repeat;
}
#player_score{
	font-size:24px;
	text-shadow:1px;
	color:red;
}
#player-chips{
	font-size:24px;
	text-shadow:1px;
	color:red;
}
#deckContainer{
	height: 100px;
	width: 100%;
}
#dealerContainer {
	position: relative;
	width:50%;
	margin-bottom:150px;
}
#small-card{
	display: none;
	position: absolute;
	top: 0px;
	left: 340px;
}
#deck-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	position: relative;
	top: 0px;
	left: 0px;
}
#cards{
	display: grid;
	grid-template-columns: repeat(5	, auto);
	grid-gap: 730px;
}
.card{
	height: 96px;
	width: 71px;
	position: relative;
	left: 380px;
	top: 160px;
}
#cards_2{
	display: grid;
	grid-template-columns: repeat(5	, auto);
	grid-gap: 730px;
}
.card_2{
	height: 96px;
	width: 71px;
	position: relative;
	left: 400px;
	top: 120px;
}
#cards_3{
	display: grid;
	grid-template-columns: repeat(5	, auto);
	grid-gap: 730px;
}
.card_3{
	height: 96px;
	width: 71px;
	position: relative;
	left: 420px;
	top: 60px;
}
#cards_4{
	display: grid;
	grid-template-columns: repeat(5	, auto);
	grid-gap: 730px;
}
.card_4{
	height: 96px;
	width: 71px;
	position: relative;
	left: 440px;
	top: 20px;
}
#cards_5{
	display: grid;
	grid-template-columns: repeat(5	, auto);
	grid-gap: 730px;
}
.card_5{
	height: 96px;
	width: 71px;
	position: relative;
	left: 460px;
	top: 0px;
}
div.status{
	color: red;
	width: 120px;
	height: 50px;
	border: 2px solid red;
	border-radius: 12px;
	padding: 10px;
}
div.game_info{
	color: red;
	width: 350px;
	height: 80px;
	border: 2px solid red;
	border-radius: 12px;
	padding: 10px;
}
	 
